<%= turbo_frame_tag "new_user_frame" do %>
    <div class="mt-6 bg-red-950">
        <p class='text-neutral-100 p-4 font-mono'>An error occurred</p>

        <% errors.each do |error| %>
            <p class="text-neutral-100 p-4 font-mono">
                <%= error %>
            </p>
        <% end %>
    </div>
<% end %>
