<%= turbo_frame_tag "new_user_frame" do %>
  <div class="mt-6 bg-neutral-950">
    <p class="text-neutral-100 p-4 font-mono">You are now part of this thing of ours. Once you join, you can't leave. Just kidding 😆. Drop me an <a class='underline' href="mailto:robert@cosanostr.com">email</a> and I can remove the entry. 
    Make sure you add your new username to your nostr profile in the NIP-05 field.
    That way nostr clients will show you as identified.
    </p>
  </div>
<% end %>
