<footer class="bg-neutral-800" aria-labelledby="footer-heading">
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="justify-center flex mt-16 pt-8 sm:mt-20 lg:mt-24">

      <p class="text-xs text-center leading-5 text-neutral-500">
        <a href="https://www.github.com/neudabei/cosanostrverify">
          Free &amp; Open Source Software under MIT License.</p>
        </a>
    </div>
  </div>
</footer>
